<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Food</title>
</head>
<body>
  <h1>Edit Food</h1>

  <% if (errors.length) { %>
    <% errors.forEach(el => { %>
      <p style="color: red;"> <%= el %> </p>
    <% }) %>
  <% } %>

  <form action="/foods/edit/<%= id %>" method="post">
    <div>
      <label>Name</label>
      <input type="text" name="name" value="<%= foodDetail.name %>" />
    </div>

    <div>
      <label>Price</label>
      <input type="number" name="price" value="<%= foodDetail.price %>" />
    </div>
    
    <div>
      <label>Category</label>
      <select name="CategoryId">
        <option selected disabled> --- Select Category --- </option>
        
        <% dataCategories.forEach(el => { %>
          <option 
            value="<%= el.id %>"
            <%= el.id == foodDetail.CategoryId ? ' selected' : ' '  %>
          >
            <%= el.name %>
          </option>
        <% }) %>
      </select>
    </div>

    <button type="submit">Edit</button>
  </form>
</body>
</html>