<%- include('./partials/header.ejs', { titleName: 'List Foods' }) %>

<body>
  <%- include('./partials/navbar.ejs') %>
  
  <center>
    <h1>List Foods</h1>

    <form>
      <label>Search By Name :</label>
      <input type="text" name="name" />
      <button>Search</button>
    </form>
  
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
  
      <tbody>
        <% data.forEach(el => { %>
          <tr>
            <td> <%= el.id %> </td>
            <td> <%= el.name %> </td>
            <td> <%= el.price %> </td>
            <td> <%= el.CategoryName %> </td>
            <td>
              <a href="/foods/edit/<%= el.id %>">
                <button>Edit</button>
              </a>
              <button>Delete</button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </center>
</body>
</html>